So we are not going to take your instructions on how to do it. If you have a requirement, as you said, you wanted to go for either cancellation or you wanted me to check if one is available. Both options require discussion. All I'm asking is to get the calculation so that I can initiate the conversation. It's not a one-sided thing where I should only be hearing what you have to say. Also, you should at least be ready for a face-to-face interview. If you're not interested in any of this, then it will take its own sweet time.